html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(44, 50, 61);
}

* {
  box-sizing: border-box !important;
  color: rgb(215, 217, 222);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0;
}
